@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #00333d;
  font: 500 100%/1.5 'Inter', -apple-system, Helvetica, sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h2,
p {
  margin: 0;
}

body {
  display: flex;
  overflow: hidden;
}
#listicle,
#map {
  flex: 1;
  height: 100vh;
}

#listicle {
  overflow-y: auto;
  padding: 2rem;
}
#list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 8px 24px -8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}
